* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    margin: 0;
    position: absolute;
    min-height: 100vh;
    background-color: #f0f8ff;
}

.fundoEscuro {
    width: 100vw;
    height: 100vh;
    background-color: #00000077;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: -3;
}

.sidebarCompleta {
    display: none;
}

.menu_links {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center ;
    list-style: none;    
    gap: 20px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 50px;
    background-color: #040024;
    padding: 0px;
    border-radius: 0 20px 20px 0;
    width: 70px;
    min-width: 70px;
    height: 100vh;
    overflow:auto; 
    z-index: 10;
}

.menu_links::-webkit-scrollbar {
    width: 0px;
}

.menu_links .controles-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-top: 20px;
}

.button-sidedar {
    display: flex;
    font-size: 30px;
    color: #FFF;
    text-decoration: none;
    background: none;
    border: 0;
    background-color: #110094;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
}

.button-sidedar.right {
    display: none;
    margin-top: 20px;
}
.fa {
    font-size: 30px;
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
}

.fa-solid {
    font-size: 30px;
    color: #FFF;
    text-decoration: none;
    margin-right: 10px;
}

.menu_links ol {
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 0;
    list-style-type: none;
}

.menu_links .title-section-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.menu_links li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.menu_links .button-dropdown-down {
    background: none;
    border: 0;
    color: #FFF;
}

.menu_links .button-dropdown-up {
    display: none;
    background: none;
    border: 0;
    color: #FFF;
}    

.dropdown {
    display: none;
    text-align: left;
    background-color: #040024;
    font-size: 16px;
    margin: 15px 0 20px 15%;
}

.dropdown a:hover {
    color: aqua;
}

.menu_links a {
    display: flex;
    text-decoration: none;
    align-items: baseline;
    color: #FFF;    
    margin-right: 20px;
    align-items: center;
}
ol .fa{
    font-size: 23px;
}

.projetos-livres-titulo {
    display: flex;
    flex-direction: row;
}
#button-dropdown-down-projetos-livres {
    font-size: 10px;
    background: none;
    border: 0;
}

#button-dropdown-up-projetos-livres {
    display: none;
    font-size: 10px;
    background: none;
    border: 0;
}

#dropdown-projetos-livres{
    display: none;
    text-align: left;
    font-size: 14px;
    margin: 10px 0 10px 15%;
}



.text {
    font-size: 18px;
    margin-left: 10px;
    font-family: "Open Sans", sans-serif;
    color: #FFF;
}

.text:hover {
    font-weight: bold;
}
.menu_links .title_a:hover {
    text-shadow: 2px 2px 0 #d2d2d2;
    transition: 0.5s;
    transform: scale(1.05);
}

.menu_links hr {
    height: 2px;
    width: 90%;
    color: #FFF;
    border: 0;
    background-color: #FFF;
    margin: 0 0 20px 0;
}

.button-dropdown:hover .dropdown-child {
    background-color: #FFF;
    display: block;
}

.sidebarReduzida {
    margin-top: 20px;
    display: block;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.sidebarReduzida .button-sidedar {
    display: block;
    justify-items: center;
    align-items: center;
    width: 50px;
}

.sidebarReduzida .fa{
    margin: 20px 0 0 10px;
}

.button-sidedar .fa-chevron-right {
    margin-left: 15.625px;
    margin-top: 10px;
    padding: 0;
}

.sidebarReduzida .fa:hover {
    transform: scale(1.1);
    transition: 0.5s;
}


.cabecalho {
    background-color: #504c4c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    background-image: url("./assets/steam2.png"); 
    background-size: 82vw;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: center;
    background-size: cover;
    margin-left: 0;
    width: calc(100vw - 40px);
    height: calc(82vw * 526/1050);
}

.cabecalho .titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo h1 {
    margin-top: 50px;
    font-size: 5rem;
    font-family: 'Short Stack', cursive;
    text-align: center;
    color: #000;
    z-index: 2;
    text-shadow:
        3px 3px 0 #FFF,
        -3px 3px 0 #FFF,
        -3px -3px 0 #FFF,
        3px -3px 0 #FFF;
}

.corpo-conteudo {
    margin: 20px 0 0 70px;
    display: flex;
    flex-direction: column;
    padding-left: 2vw;
}

.corpo-conteudo h2 {
    font-family: 'Short Stack', cursive;
    font-size: 3rem;
    color: #000;
    margin-bottom: 30px;
}

.fundoEscuroCabecalho {
    width: 100vw;
    height: calc(82vw * 526/1050);
    background: #00000077;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.gradienteInferiorTitulo {
    /*gradiente de #686464 para #f0f8ff de cima para baixo */
    background: -webkit-linear-gradient(#787474, #f0f8ff);
    z-index: 5;
    width: 100vw;
    height: 80px;
    margin-bottom: 40px;
}

.topicos {
    display: flex;
    flex-direction: column;
    background-color: rgb(207, 244, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #00000077;
    max-width: 85vw;
}

.conteudo-topico {
    display: flex;
    flex-direction: row;
}

.texto-topico p {
    font-family: "Lexend", sans-serif;
    font-size: 18px;
    color: #000;
    margin-bottom: 20px;
    max-width: 45vw;
    text-align: justify;
} 

.imagem-topico img {
    margin-left: 3vw;
    max-width: 35vw;
}
